Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured data that is stored and managed in a way that enables efficient retrieval, updating, and manipulation of the data. Databases are designed to provide a systematic and efficient method for storing, managing, and retrieving data for various applications and use cases. They serve as a central repository for storing and organizing data, allowing multiple users or applications to access and modify the data concurrently.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems that differ in their data models, storage architectures, and query languages. Here's a comparison between the two:

SQL:
1. SQL databases are based on the relational data model. Data is organized into tables with predefined schemas, and relationships between tables are established using primary and foreign keys.
2. SQL databases enforce a rigid schema where the structure of the data is predefined. Changes to the schema require altering the table structure and may involve data migration.
3. SQL databases are typically vertically scalable, meaning they can handle increased loads by increasing the hardware resources (e.g., CPU, RAM) of a single server.
4. SQL databases use SQL as the query language, which provides a declarative and standardized way to query and manipulate the data.
5. SQL databases offer ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring data integrity and consistency.

NoSQL:
1. NoSQL databases support various data models such as key-value, document, columnar, and graph. They provide more flexibility in handling unstructured and semi-structured data.
2. NoSQL databases are schema-flexible, allowing dynamic and ad-hoc changes to the data structure without requiring a predefined schema.
3. NoSQL databases are designed for horizontal scalability, allowing data to be distributed across multiple servers or nodes, enabling better scalability and handling of large-scale data.
4. NoSQL databases employ various query languages or APIs specific to their data models. The query languages may not be as standardized as SQL.
5. NoSQL databases often sacrifice strict ACID properties in favor of performance and scalability. They may offer eventual consistency or relaxed transactional guarantees.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are responsible for creating, altering, and dropping database objects such as tables, views, indexes, and constraints.

CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, and more. It specifies the name, structure, and properties of the object to be created. Here's an example of creating a table:

CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(255),
    age INT
);

DROP: The DROP statement is used to remove an existing database object, such as a table or view, from the database. It permanently deletes the object and its associated data. Here's an example of dropping a table:

DROP TABLE Customers;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object. Here's an example of altering a table by adding a new column:

ALTER TABLE Customers
ADD COLUMN address VARCHAR(255);

TRUNCATE:
The TRUNCATE statement is used to remove all the data from an existing table, but it does not delete the table structure itself. It provides a quick way to delete all rows from a table. Here's an example of truncating a table:

TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in a database. DML statements are responsible for inserting, updating, and deleting data within database tables.

INSERT: The INSERT statement is used to insert new data into a table. It allows you to add one or more rows of data into the specified table. Here's an example of inserting data into a table:

INSERT INTO Customers (id, name, email, age)
VALUES (1, 'John Doe', 'johndoe@example.com', 30);

UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to change the values of one or more columns in one or more rows of a table. Here's an example of updating data in a table:

UPDATE Customers
SET email = 'newemail@example.com'
WHERE id = 1;

DELETE: The DELETE statement is used to remove one or more rows from a table. It allows you to delete specific rows that meet certain conditions. Here's an example of deleting data from a table:

DELETE FROM Customers
WHERE age > 50;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL statements, primarily the SELECT statement, are used to fetch data from database tables and views.

SELECT: The SELECT statement is used to retrieve data from one or more tables or views in a database. It allows you to specify the columns you want to retrieve, apply filters, sort the result set, and perform various other operations on the data. Here's an example of a basic SELECT statement:

SELECT column1, column2
FROM table_name;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table. It provides a way to ensure data integrity and enforce uniqueness in a table.

Foreign Key: A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, creating a link between them.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector as connector

conn = connector.connect(
host = "localhost",
user = "abc",
password = "password")

mycursor = conn.cursor()

The cursor() method creates a cursor object, which allows you to execute SQL queries and fetch the results.

The execute() method is used to execute SQL queries. You can pass the SQL query as a string parameter to this method. It performs the query on the database associated with the cursor object.

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are generally executed in the following order:

SELECT: The SELECT clause specifies the columns to be retrieved from the table(s) and applies any necessary transformations or calculations on the data.

FROM: The FROM clause specifies the table(s) from which the data is retrieved.

WHERE: The WHERE clause filters the rows based on specific conditions.

GROUP BY: The GROUP BY clause groups the result set based on one or more columns.

HAVING: The HAVING clause filters the grouped result set based on conditions.

ORDER BY: The ORDER BY clause sorts the result set based on one or more columns. It allows sorting in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET: The LIMIT/OFFSET clause restricts the number of rows returned by the query. It is commonly used for pagination or fetching a specific number of rows.